aenum==2.0.8
asn1crypto==0.23.0
attrs==17.3.0
autobahn==17.10.1
Automat==0.6.0
beautifulsoup4==4.6.0
certifi==2022.12.7
cffi==1.11.2
chardet==3.0.4
constantly==15.1.0
cryptography==2.1.4
decorator==4.1.2
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
jsonpickle==0.9.5
klein==17.10.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
pyOpenSSL==17.5.0
PyPika==0.9.1
pypiwin32==220
requests==2.18.4
service-identity==17.0.0
six==1.11.0
treq==17.8.0
Twisted==17.9.0
txaio==2.8.2
urllib3==1.22
Werkzeug==0.12.2
zope.interface==4.4.3
